body
{
	font-family:arial;
	
}
body
{
	font-size:14px;
	background-color:#333;
}

.search {
	width:100%;
	padding:10px;
	margin-bottom:10px;
	font-size:14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.champs
{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	
}

.champ
{
	width:100%;
	padding:10px;
	margin-bottom:5px;
	overflow:hidden;
	border:1px solid #fff;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.champ .left
{
	float:left;
	width:80%;
}

.champ .right
{
	float:left;
	width:20%;
	text-align:right;
}

.champ .right img
{
	max-height:30px;
	max-width:30px;
}

.champ .name
{
	color:#fff;
}

.champ .hash
{
	color:#999;
}



.name-show
, .hash-show
, .class-show
{
	display:block !important;
}